<h3 class="text-center">Inventory</h3>

<form class="form-horizontal col-md-6 col-centered" name="newProductForm" ng-submit="addNewProduct(product)">

	<legend class="text-center">New Product</legend>

	<div class="form-group">
	  <label class="col-md-4 control-label" for="barcode">Barcode</label>  
	  <div class="col-md-4">
	  	<input id="barcode" name="barcode" placeholder="Barcode" class="form-control" required>
	  </div>
	</div>

	<div class="form-group">
	  <label class="col-md-4 control-label" for="name">Name</label>  
	  <div class="col-md-4">
	  	<input id="name" name="name" placeholder="Name" class="form-control">
	  </div>
	</div>

	<div class="form-group">
	  <label class="col-md-4 control-label" for="price">Price</label>  
	  <div class="col-md-4">
	  	<input id="price" name="price" placeholder="Price" class="form-control" required>
	  </div>
	</div>

	<div class="form-group">
	  <label class="col-md-4 control-label" for="quantity_on_hand">Quantity On Hand</label>  
	  <div class="col-md-4">
	  	<input id="quantity_on_hand" name="quantity_on_hand" placeholder="Quantity On Hand" class="form-control">
	  </div>
	</div>

	<button type="submit" class="btn btn-success btn-lg col-centered">Submit</button>
</form>

<script>
	$(document).ready(function() {
	    $('#barcode').select();
	});
</script>