.modal {
  *zoom: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999999;
}
.modal:before, .modal:after {
  content: " ";
  display: table;
}
.modal:after {
  clear: both;
}
.modal .modal-overlay {
  *zoom: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(39, 39, 39, 0.8);
}
.modal .modal-overlay:before, .modal .modal-overlay:after {
  content: " ";
  display: table;
}
.modal .modal-overlay:after {
  clear: both;
}
.modal .modal-container {
  *zoom: 1;
  position: relative;
  z-index: 2;
  width: 50%;
  height: auto;
  margin: 5% auto;
  background: white;
  border-radius: 3px;
  box-shadow: 0 0 2px 5px rgba(39, 39, 39, 0.1);
}
.modal .modal-container:before, .modal .modal-container:after {
  content: " ";
  display: table;
}
.modal .modal-container:after {
  clear: both;
}
.modal .modal-container .modal-content {
  *zoom: 1;
  position: absolute;
  border: none;
  border-radius: 3px;
  box-shadow: none;
  width: 100%;
  margin: 0 auto;
  height: auto;
  min-height: 100%;
}
.modal .modal-container .modal-content:before, .modal .modal-container .modal-content:after {
  content: " ";
  display: table;
}
.modal .modal-container .modal-content:after {
  clear: both;
}
.modal .modal-container .modal-content h1 {
  margin-bottom: 20px;
}
.modal .modal-container .modal-content h2 {
  margin-bottom: 20px;
}
.modal .modal-container .modal-content img {
  width: auto;
}
.modal .modal-container .modal-close {
  position: absolute;
  border: none;
  width: 25px;
  height: 25px;
  top: -35px;
  right: 0;
  background: url("http://data.lawline.com.s3.amazonaws.com/images/admin/modal-close-14-7-22.svg");
  background-size: 100%;
  outline: none;
  z-index: 9999999;
}
