<h3 class="text-center">Inventory</h3>

<div class="container">
	
	<a href="#/inventory/create-product" class="btn btn-success pull-right">
		<i class="glyphicon glyphicon-plus"></i> Add New Item
	</a>
	<br/><br/>

	<table class="table table-responsive">
		<thead>
			<tr>
				<th>Name</th>
				<th>Price</th>
				<th>Quantity on Hand</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="product in inventory">
				<td> 
					<a href="" ng-click="editProduct(product.id)">
						{{ product.name }} 
					</a>
				</td>
				<td> $ {{ product.price }} </td>
				<td> {{ product.quantity_on_hand }} </td>
				<td> 
					<a class="btn btn-warning" ng-click="editProduct(product._id)">
						Edit Item
					</a>
				</td>
			</tr>
		</tbody>
	</table>

</div>