
<div class="text-center">
	<span class="lead">Total</span> 
	<br/>
	<span class="text-success checkout-total-price">
		$<span odometer="cart.total"></span>
	</span>
	
	<checkout 
		cart-total="cart.total" 
		print-receipt="printReceipt(payment)">
	</checkout>
</div>

<table class="pos table table-responsive table-striped table-hover">
	<thead>
		<tr>
			<td colspan="6" class="text-center">
				<add-manual-item class="pull-left" add-item="addManualItem(item)"></add-manual-item>
			</td>
		</tr>
		<tr class="titles">
			<th>Name</th>
			<th>Price</th>
			<th>Quantity</th>
			<th>Tax</th>
			<th>Total</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="product in cart.products track by $index">
			<td class="col-md-2"> {{ product.name }} </td>
			<td class="col-md-1"> {{ product.price | currency }} </td>
			<td class="col-md-2"> 

				<button class="btn btn-sm pull-left" ng-click="removeQuantity(product)">
					<i class="glyphicon glyphicon-minus"></i>
				</button>

				<div class="col-md-6">
					<input 
						type="number"
						class=""
						step="1"
						min="1"
						ng-model="product.quantity"
						ng-change="updateCartTotals()"
						required/>
				</div>

				<button class="btn btn-sm pull-right" ng-click="addQuantity(product)">
					<i class="glyphicon glyphicon-plus"></i>
				</button>

			</td>
			<td class="col-md-2"> 
				{{  product.tax_percent * product.quantity * product.price | currency }} 
			</td>
			<td class="col-md-2">
				{{ (product.tax_percent * product.quantity * product.price) + ( product.price * product.quantity) | currency }}
			</td>
			<td class="col-md-2">
				<button class="btn btn-danger" ng-click="removeProductFromCart($index)">
					<i class="glyphicon glyphicon-trash"></i>
				</button>
			</td>
		</tr>
		<tr ng-if="!cart.products.length">
			<td colspan="6">Scan products or add unlisted item above.</td>
		</tr>
	</tbody>	
</table>