<h3 class="text-center">Transactions</h3>

<br/><br/>

<table class="col-md-12 table table-hover table-striped">
	<thead>
		<tr>
			<th>Time</th>
			<th>Total</th>
			<th>Customer Payment</th>
			<th>Products</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="transaction in transactions track by $index">
			<td class="col-md-2"> {{ transaction.date | date:'medium' }} </td>
			<td class="col-md-2"> {{ transaction.total | currency }} </td>
			<td class="col-md-2"> {{ transaction.payment | currency }}</td>
			<td class="col-md-2"> {{ transaction.products.length }} </td>
			<td>
				<a class="btn btn-warning" href="#/transaction/{{ transaction._id }}">
					View Receipt
				</a>
			</td>
		</tr>
		<tr ng-if="!transactions.length">
			<td colspan="5">No transactions found.</td>
		</tr>
	</tbody>	
</table>