<button class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal">
	<i class="glyphicon glyphicon-plus"></i> Unlisted Item
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Item</h4>
      </div>
      <div class="modal-body">
        
        <form class="form-horizontal" 
        	name="addManualItemForm" 
        	ng-submit="addManualItemForm.$valid && add(manualItem)">

    			<div class="form-group" ng-class="{ 'has-error': addManualItemForm.price.$error.required }">
    				<label class="col-md-2 lead" for="price">Price</label>
    				<div class="col-md-8 input-group">
    					<div class="input-group-addon">$</div>
    					<input type="number" step="any" min="0" class="form-control" name="price" ng-model="manualItem.price" required/>
    				</div>
    			</div>	

    			<p class="text-danger" ng-show="addManualItemForm.price.$error.required">Enter price for item.</p>

          <div class="form-group">
            <label class="col-md-4 control-label" for="food">Is it food?</label>  
            <div class="col-md-4">
              <input 
                name="food" 
                class="form-control"
                type="checkbox"
                ng-model="manualItem.food"> 
            </div>
          </div>
          
    		</form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="addManualItemForm.$valid && add()">Save changes</button>
      </div>
    </div>
  </div>
</div>