<h1 class="text-center">
	<a href="/#/">Hunts Point POS</a>
</h1>

<ul class="nav-menu">
	<li><a href="#/inventory" class="lead" ng-class="{ active: isActive('inventory') }">Inventory</a></li>
	<li><a href="#/pos" class="lead" ng-class="{ active: isActive('pos') }">POS</a></li>
	<li><a href="#/transactions" class="lead" ng-class="{ active: isActive('transactions') }">Transactions</a></li>
	<li><a href="#/live-cart" class="lead" ng-class="{ active: isActive('live-cart') }">Live Cart</a></li>
</ul>
