<table class="receipt">
  <thead>
    <tr>
      <th  colspan="3" class="text-center"> 
        {{ settings.store_name }} 
      </th>
    </tr>
    <tr>
      <td colspan="3" class="text-center"> 
        <small>{{ transaction.date | date:'medium' }}</small>
      </td>
    </tr>
  </thead>
  <tbody>
    <tr class="small">
      <td> Quantity </td>
      <td> Product </td>
      <td> Price </td>
    </tr>
    <tr ng-repeat="product in transaction.products">
      <td> {{ product.quantity }} </td>
      <td> {{ product.name }} </td>
      <td> 
        <span ng-if="product.quantity > 1">
          {{ ( product.price * product.quantity ) | currency }} 
          <br/> 
          <small>({{ product.price | currency }} each)</small>
        </span> 

        <span ng-if="product.quantity === 1">
          {{ product.price | currency }}
        </span>
      </td>
    </tr>
    <tr class="separator"><td colspan="3"></td></tr>
    <tr class="tax">
      <td></td>
      <td>Tax</td>
      <td> {{ transaction.total_tax | currency }} </td>
    </tr>
    <tr class="total">
      <td></td>
      <td>Total</td>
      <td> {{ transaction.total | currency }} </td>
    </tr>
    <tr class="">
      <td></td>
      <td>Payment</td>
      <td> {{ transaction.payment | currency }} </td>
    </tr>
    <tr class="lead">
      <td></td>
      <td>Change</td>
      <td> {{ transaction.payment - transaction.total | currency }} </td>
    </tr>
  </tbody>
</table>